extends layout

block content
	div.overLay
		div.gameOver
			h2 Game Over
			div.score
			a(href='/' class='restart') Click here to restart
	//- div.userOverlay
		//- input(type="text" name='user' id='user' placeholder="Whats your nickname?")

	p.info Click the shape to begin
	div.timer
		div.mm 00
		div.separator :
		div.ss 00
	div#game

	div.chatFrame
		div.messages
			div.message
				span.userName Bob
				span.messageText This is some text yo akshdlasjdlaj lkajsdlkas jalkdsj al d jals da sdjlkasdj as dlaskjd ad alksjd as dalkj
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text y
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
			div.message
				span.userName Bob
				span.messageText This is some text yo
		input(type='text' name='chatText' id='chatText' placeholder='type here')

