extends layout

block content
	div.overLay
		div.gameOver
			h2 Game Over
			div.score
			a(href='#' class='restart') Click here to restart
	div.userOverlay
		input(type="text" name='user' id='user' placeholder="Whats your nickname?")

	p.info Click the shape to begin
	div.timer
		div.mm 00
		div.separator :
		div.ss 00
	div#game

	div.chatFrame
		div.totalUsers Total Players: #[span 1]
		div.messages
			div.message
				span.userName Pointer
				span.messageText Welcome to pointer, try to beat the highscore and chat with other players below!

		input(type='text' name='chatText' id='chatText' placeholder='type here')

