* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}

.info, .timer {
	position: absolute;
}

.timer {
	overflow: hidden;
	font-size: 30px;
}
.timer div {
	float: left;
}

.game,
.overLay {
	width: 100%;
	height: 100%;
}
.overLay {
	visibility: hidden;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	z-index: 500;
}
.game {
	z-index: 0;
}

.gameOver {
	background: #fff;
	position: absolute;
	z-index: 1000;
	text-align: center;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    7px 7px 30px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         7px 7px 30px 0px rgba(50, 50, 50, 0.3);
}
.gameOver .restart {
	display: block;
	padding: 5px 10px;
	background: #00d419;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.gameOver .restart:hover {
	background: #07ae1b;
}
.gameOver .score {
	margin-bottom: 5px;
}

.userOverlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.9);
	z-index: 500;
}

.userOverlay input {
	width: 300px;
	font-size: 20px;
	color: #ececec;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 5px;
	text-align: center;
	position: absolute;
}

.chatFrame {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 275px;
	border-left: 1px solid #5b6564;
	overflow-y: scroll;
}
.chatFrame input {
	width: 275px;
	height: 45px;
	font-size: 20px;
	color: #5b6564;
	background-color: #fff;
	border: none;
	outline: none;
	padding-bottom: 5px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.chatFrame .totalUsers {
	position: fixed;
	background: #fff;
	width: 275px;
	font-size: 20px;
	text-align: center;
}
.chatFrame .messages {
	padding: 30px 0px 50px 0px;
}
.chatFrame .messages .message {
	padding: 5px 10px;
}
.message .userName {
	padding-right: 10px;
	color: #38ee00;
}